{{ template "base" . }}

{{ define "content" }}
    <div class="container">

        <h1 class="my-5 text-center">Contact Us</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi consectetur et facilis ipsa porro
            voluptatibus? Accusamus accusantium aperiam atque cumque dolore dolorum ducimus enim esse est ex excepturi
            fugiat maxime molestias nam nihil nostrum optio possimus qui quis, sunt tempora ullam voluptas. Expedita
            iste
            labore odio provident! Aliquam animi, atque dolorem dolorum facere modi nemo neque nesciunt obcaecati
            perferendis possimus quos recusandae reiciendis reprehenderit sequi ut voluptate voluptates. Aliquid beatae
            distinctio doloribus, iusto qui tenetur. Atque aut beatae commodi ipsum labore laudantium magni officiis quo
            ratione reiciendis. Accusantium atque beatae delectus dolores et laudantium maiores, nihil qui quibusdam
            quod
            sit sunt temporibus ullam vitae voluptate. Alias aliquam animi architecto asperiores consequatur dolorem
            earum
            eligendi exercitationem incidunt ipsum nemo, obcaecati officiis omnis optio perspiciatis quisquam recusandae
            reprehenderit repudiandae sapiente tenetur velit voluptates voluptatibus. A accusamus aperiam atque ea
            expedita,
            molestiae, obcaecati provident rem repellat rerum ullam vel. Explicabo, laboriosam quae. Asperiores
            excepturi
            explicabo illo neque pariatur, placeat possimus velit voluptas. Ab alias animi assumenda autem cum, debitis
            deserunt dicta distinctio dolorem ducimus eos error expedita explicabo facere illo incidunt laboriosam
            laborum
            laudantium magni modi necessitatibus nisi nobis odit optio perferendis praesentium sapiente, similique
            soluta
            suscipit velit. Aliquid aspernatur blanditiis consectetur corporis culpa eaque explicabo, fugit illum
            impedit
            incidunt inventore minus nihil nisi non optio quam quis quod rem repellat, repudiandae tempora voluptatem.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis commodi culpa distinctio
            dolor
            ea error molestiae molestias mollitia nobis quae quibusdam reprehenderit, saepe sed similique, suscipit
            temporibus tenetur. Aliquam commodi consequatur quia? Aliquam assumenda eligendi labore nihil ratione,
            repudiandae veritatis! Autem cupiditate deleniti eligendi est, et explicabo harum incidunt mollitia, nostrum
            pariatur possimus ratione reprehenderit similique sit vitae? Accusantium aliquid amet cumque dolor dolorem
            dolores expedita magnam natus, nemo nesciunt quaerat quia repellat sed sequi similique ullam, vel vitae.
            Amet
            atque aut autem, beatae dolore error ex facere facilis nisi quam quas quidem rem rerum sit, totam vero
            voluptate!
        </p>
    </div>
{{ end }}