{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <img src="static/images/generals-quarters.png" alt="" class="img-fluid img-thumbnail">
            </div>
        </div>

        <h1 class="my-5 text-center">General's Quarters</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, animi consectetur et facilis ipsa porro
            voluptatibus? Accusamus accusantium aperiam atque cumque dolore dolorum ducimus enim esse est ex excepturi
            fugiat maxime molestias nam nihil nostrum optio possimus qui quis, sunt tempora ullam voluptas. Expedita iste
            labore odio provident! Aliquam animi, atque dolorem dolorum facere modi nemo neque nesciunt obcaecati
            perferendis possimus quos recusandae reiciendis reprehenderit sequi ut voluptate voluptates. Aliquid beatae
            distinctio doloribus, iusto qui tenetur. Atque aut beatae commodi ipsum labore laudantium magni officiis quo
            ratione reiciendis. Accusantium atque beatae delectus dolores et laudantium maiores, nihil qui quibusdam quod
            sit sunt temporibus ullam vitae voluptate. Alias aliquam animi architecto asperiores consequatur dolorem earum
            eligendi exercitationem incidunt ipsum nemo, obcaecati officiis omnis optio perspiciatis quisquam recusandae
            reprehenderit repudiandae sapiente tenetur velit voluptates voluptatibus. A accusamus aperiam atque ea expedita,
            molestiae, obcaecati provident rem repellat rerum ullam vel. Explicabo, laboriosam quae. Asperiores excepturi
            explicabo illo neque pariatur, placeat possimus velit voluptas. Ab alias animi assumenda autem cum, debitis
            deserunt dicta distinctio dolorem ducimus eos error expedita explicabo facere illo incidunt laboriosam laborum
            laudantium magni modi necessitatibus nisi nobis odit optio perferendis praesentium sapiente, similique soluta
            suscipit velit. Aliquid aspernatur blanditiis consectetur corporis culpa eaque explicabo, fugit illum impedit
            incidunt inventore minus nihil nisi non optio quam quis quod rem repellat, repudiandae tempora voluptatem
            voluptatum. A alias est saepe tenetur! Ad deleniti distinctio dolorem excepturi incidunt iste itaque minima
            officiis quis voluptatibus! Ad, commodi culpa cupiditate itaque laudantium libero quae ratione rem soluta?
            Dolore dolorum nulla numquam pariatur quis reiciendis, saepe vero. A ad aliquam amet atque autem debitis
            distinctio doloribus error, eum, id impedit mollitia nisi nulla provident quia quis quo reprehenderit rerum
            ullam, unde. Alias corporis culpa dolor harum magnam nulla optio provident, quas recusandae rem repellendus
            rerum sapiente vel.
        </p>

        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-success">Check Availability</a>
        </div>
    </div>
{{ end }}